<h1>Quote calculator</h1>

<p>Get a free quote for a salting or snow clearing service</p>


   <div id="floating-panel">
   <form action="" id="AddressSearch">
      <label for="address">Address:</label>
      <input id="address" type="textbox" placeholder="123 Street Rd, Port Moody">
      <input id="submit" type="submit" value="Search">
   </form>
   </div>
   <div id="map"></div>
   <script>

   </script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.google_api%>&callback=initMap">
   </script>