<div class="d-flex row">
   <div id="panel" class="col-4 p-5">
      <h1>Quote calculator</h1>
      <p>Get a free quote for a salting or snow clearing service</p>

      <form action="" id="AddressSearch">
         <label for="address">Search your location:</label><br>
         <input id="address" type="textbox" placeholder="123 Street Rd, Port Moody" size="40">
         <input id="submit" type="submit" value="Find" class="btn btn-light btn-sm">
      </form>
      <div class="hidden address" id="displayAddress">
      </div>
      <div class="hidden">
         <h4 id="calculatedArea" class="m-3 mt-5">Selected area: _______ sq ft</h4>
         <h3 id="totalDue" class="text-right p-3">Total    $____.__</h3>
         <button class="btn btn-block btn-warning shadow-lg">Submit request for service</button>
      </div>
   </div>
   <div id="map" class="col-8">
   </div>
</div>

<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.google_api%>&libraries=drawing&callback=initMap">
</script>